@font-face {
    font-family: Customfont;
    src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Customfont;
    box-sizing: border-box;
    /* color: hsl(36, 100%, 99%); */
    /* font-weight: 300; */
    font-size: 15px;
}

p{
    font-size: 13px;
}

.show{
    display: block!important;
}

body{
    padding:5% 5%;
    margin: 0;
}
img{
    max-width: 100%;
    /* height: 100%; */
}

img#desktop{
    display: none;
}

#overlay{
    position: fixed;
    width: 30%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    bottom: 0;
    display: none;
}

.stopscroll{
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
    align-items: center;
}


nav#links {
    display: none;
}
#dropdownmenu{
    display: none;
    position: absolute;
    height: 100%;
    top: 0;
    padding: 0;
    right: 0;
    background-color: hsl(36, 100%, 99%);
    width: 70%;
    padding: 20px;
    text-align: end;
}

#dropdownmenu ul.content{
    text-align: justify;
    list-style: none;
    
    
}

#dropdownmenu ul.content li{
    padding: 10px 0px;
    
    
}

#hero_img {
        background-image: url(./assets/images/image-web-3-mobile.jpg);
        height: 256px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 5vh;
}

#hero_text span{
    display: block;
    font-size: xx-large;
    font-weight: 800;
    width: 90%;
}

#hero_text button{
        background-color: hsl(5, 85%, 63%);
        width: 52%;
        font-weight: 700;
        letter-spacing: 3px;
        height: 2rem;
        border: none;
        display: block;
        margin-top: 1rem;
        color: white;
        font-size: 0.8rem;
    }

.article_subhead:hover {
    color: hsl(5, 85%, 63%);
}

#new .sub_head:hover {
    color:hsl(35, 77%, 62%);;
}


.content li:hover{
color: hsl(5, 85%, 63%);
}

#hero_text button:hover{
    background-color: hsl(240, 100%, 5%);
}

#new{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 5% 5%;
    margin-top: 10vh;
    margin-bottom: 15vh;
}

#new .main_head{
    color: hsl(35, 77%, 62%);
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 4vh;
}

#new .sub_head{
    color: antiquewhite;
    margin-bottom: 2vh;
    font-weight: 700;
}

#new .subject{
    font-size: 13px;
}
#new hr{
    margin: 10% 0%;
}

#article{
    margin-top: 6vh;
}

.topic{
    display: grid;
    grid-template-columns: 30% 63%;
    justify-content: space-between;
    padding-bottom: 5vh;
}

.article_txt{
    display: grid;
}

.article_head{
   color: hsl(233, 8%, 79%);
   font-size: 23px;
   font-weight: 700;
}

.article_subhead{
    font-size: 15px;
    font-weight: 700;
 }


 @media only screen and (min-width:375px) {
    /* body{background-color: blue; */
    /* } */
    
    #overlay {
        display: none;
    }
    #hero_img {
        height: 295px;
    }

    #hero_text span {
        width: 80%;
    }

    #new .subject {
        font-size: 15px;
    }

    .article_head {
        font-size: 35px;

    }

    .article_subhead {
        font-size: 20px;
    }

 }

 @media only screen and (min-width:768px) {
    
    #overlay {
        display: none;
    }

     nav{
        display: none;
    }

    nav#links{
        display: block;
        width: 50%;
    }

    ul.content{
        list-style: none;
    display: flex;
    justify-content: space-between;
    }

.content li{
    font-weight: 400;
    font-size: 0.9rem;
}


hero{
    justify-content: space-between;
    display: grid;
    grid-template-columns: 65% 33%;
}

img#mobile {
    display: none;
}

img#desktop {
    display: block;
    max-width: 100%;
    height: -webkit-fill-available;
}

#hero_text
    {
        display: grid;
        grid-template-columns: 47% 53%;
        justify-content: space-between;
        margin-top: 1rem;
    }


    #hero_text span {
        font-size: 1.64rem;
    }
#hero_text p{
    padding-top: 0.5rem;
}


#new{
    margin-top: 0;
    margin-bottom: 0;
}

#new .main_head {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}


#new .sub_head {
    font-size: 0.75rem;
}


#new hr {
    margin: 7% 0%;
}

#article {
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
}


.topic {
    display: grid;
    grid-template-columns: 30% 66%;
    justify-content: space-between;
    padding-bottom: 5vh;
}



.article_subhead {
    font-size: 0.6rem;
    padding: 4% 0;
}


p {
    font-size: 0.5rem;
}

#hero_text button {
    width: 70%;
    margin-top: 1rem;
}


#new .subject {
    font-size: 0.6rem;
}

.article_head {
    font-size: 25px;

} 

 }

 @media only screen and (min-width:768px) {
 
    #overlay {
        display: none;
    }
 
    body {
    padding: 5% 16%;
    margin: 0;
}
}
